body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    margin-bottom: 30px;
}

label {
    font-size: 30px;
}

input, textarea {
    box-sizing: border-box;
    padding: 15px;
    border: 2px solid black;
    border-radius: 20px;
    width: 100%;
}

input[type=submit] {
    box-sizing: border-box;
    background-color: yellowgreen;
    color: white;
    border: 2px solid cyan;
    border-radius: 10px;
    width: 100%;
}