body {
    background-color: antiquewhite
}

table {
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}

th {
    color: white; 
    background-color: darkgreen;
    padding: 20px;
    font-size: 25px;
    border: 2px solid black;
}

th.landmark {
    width: 25%;
}

th.significance {
    width: 40%
}

td {
    color: purple;
    font-size: 18px;
    padding: 20px;
    border: 2px solid black;
}

td:hover {
    background-color: lightyellow;
}